/* <!-- Styles for Portfolio --> */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}



/* Header Styles */
@media only screen and (max-width: 991px) {
 .header-name {
    font-size: 4rem; 
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.1;
 } 
 .header-role {
    font-size: 4rem;
    margin-bottom: .5rem;
    line-height: 1.1;
  } 
  .headshot {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 25px;
  } 
}

.header-container {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  justify-content: center;
  align-items: center;
}



.header-copy-container {
  display: flex;
  flex-direction: column;
  max-width: 1536px;
  justify-content: center;
  align-items: center;
}

.header-name {
  font-family: "HelveticaNeue";
  color: #c9af98;
  
}

.header-role {
  font-family: "HelveticaNeue";
  color: #c9af98;
  font-size: 2.5rem;
}
@media only screen and (min-width: 992px) {
  .header-container {
    display: flex;
    flex-direction: row;
  }
  .header-copy-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .headshot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 25px;
  }
}
/* Header End */

/* Nav Start */

@media only screen and (max-width: 991px) {
  .nav-container a {
    display: none;
  }
  .nav-container a.icon {
    float: right;
    display: block;
  }
  .nav-container.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .nav-container.responsive {
    flex-direction: column;
  }
  .fa.fa-bars {
    font-size: 50px;
    color: white;
    padding: 15px;
  }
  .navbar-copy {
    color: #c9af98;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 1rem;
    font-size: 3.25rem;
    line-height: inherit;
    white-space: nowrap;
    justify-content: flex-end;
    display: flex;
  }
}
.nav-container {
  background-color: #3a4660;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
}
@media only screen and (min-width: 992px) {
.nav-container a.icon {
  display: none;
}
.navbar-copy {
    color: #c9af98;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    justify-content: flex-end;
    display: flex;
  }
}



.navbar-copy:hover {
  color: #c9af98 !important;
  text-decoration: none !important;
  letter-spacing: 3px;
}
.navbar-copy:focus {
  color: #c9af98 !important;
  text-decoration: none !important;
}
/* Nav End */

/* About Start */
@media only screen and (max-width: 991px) {
  .about-container {
    background-color: #c9af98;
    max-width: 1536px;
    width: 100%;
    padding: 0;
    position: relative;
    min-height: 480px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
  }
}
@media only screen and (min-width: 992px) {
  .about-container {
    background-color: #c9af98;
    max-width: 1536px;
    width: 100%;
    padding: 0;
    position: relative;
    min-height: 480px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  } 
}

.text-center {
  text-align: center;
}
/* About End */

/* Resume Start */
.resume-container {
  max-width: 1536px;
  width: 100%;
  padding: 0;
  position: relative;
  min-height: 180px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .download-button {
    border: none;
    color: white;
    padding: 15px 40px;
    cursor: pointer;
    font-size: 30px;
    background-color: #ed8a63;
    font-family: "Helvetica Neue";
  }
  .fs-30 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) {
.download-button {
  border: none;
  color: white;
  padding: 12px 40px;
  cursor: pointer;
  font-size: 20px;
  background-color: #ed8a63;
  font-family: "Helvetica Neue";
}
.fs-18 {
  font-size: 18px;
}
}
/* Resume End */

/* Portfolio Start */

.portfolio-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3a4660;
  max-width: 1536px;
  width: 100%;
  padding: 0;
  position: relative;
  min-height: 580px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 991px) {
    .portfolio-container {
    flex-direction: column;
    padding: 25px;
    }
    .modal-styles {
    }
}
/* Portfolio End */

/* Modals Start */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .close1:hover, .close2:hover, .close3:hover,
  .close1:focus, .close2:focus, .close3:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .close1, .close2, .close3 {
      color: #fff;
      font-size: 7.5rem;
      margin-left: 25px;
  }
  
  .modal-content {
    margin: auto;
}
.image-style {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: 25px;
}
/* Modals End */
