/* <!-- Styles for Portfolio --> */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@media only screen and (max-width: 992px) {
  .nav-container a {
    display: none;
  }
  .nav-container a.icon {
    float: right;
    display: block;
  }
  .nav-container.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .nav-container.responsive {
    flex-direction: column;
  }
  .fa.fa-bars {
    font-size: 31px;
    color: white;
    padding: 15px;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  justify-content: center;
  align-items: center;
}

.headshot {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 25px;
}

.header-copy-container {
  display: flex;
  flex-direction: column;
  max-width: 1536px;
  justify-content: center;
  align-items: center;
}

.header-name {
  font-family: "HelveticaNeue";
  color: #c9af98;
}

.header-role {
  font-family: "HelveticaNeue";
  font-weight: 100;
  color: #c9af98;
}

.nav-container {
  background-color: #3a4660;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
}

.navbar-copy {
  color: #c9af98;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  justify-content: flex-end;
  display: flex;
}

.navbar-copy:hover {
  color: #c9af98 !important;
  text-decoration: none !important;
  letter-spacing: 3px;
}
.navbar-copy:focus {
  color: #c9af98 !important;
  text-decoration: none !important;
}

.about-container {
  background-color: #c9af98;
  max-width: 1536px;
  width: 100%;
  padding: 0;
  position: relative;
  min-height: 480px;
  margin-left: auto;
  margin-right: auto;
}
.resume-container {
  max-width: 1536px;
  width: 100%;
  padding: 0;
  position: relative;
  min-height: 180px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3a4660;
  max-width: 1536px;
  width: 100%;
  padding: 0;
  position: relative;
  min-height: 480px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 992px) {
  .header-container {
    display: flex;
    flex-direction: row;
  }
  .header-copy-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .nav-container a.icon {
    display: none;
  }
}
