header {

	border: solid grey;
}
h1 {
	color: powderblue;
	font-family:'Dosis', sans-serif;;
}

.nav {

	display: inline;
	color: grey;
	list-style-type: none;
	text-decoration: none;
	text-align: right;
}

p {
	font-style: Arial;

}

.projects {
	display: inline;
	text-decoration: none;
}
