header {

	border: solid grey;
}
h1 {
	float: left;
	color: powderblue;
	font-family:'Dosis', sans-serif;;
}

.nav {
    float: right;
	display: inline;
	color: grey;
	list-style-type: none;
	text-decoration: none;
	text-align: right;
}

p {
	float: right;
	font-style: Arial;

}

.projects {
	color: grey;
	text-decoration: none;
}

.img-circle {
	border-radius: 50%;
}
