header {

	border-bottom: solid grey;
	border-width: 1px;
	padding-bottom: 60px;
}
a:active {
	color: grey;
}
p.name {
	float: left;
	color: powderblue;
	font-family:'Dosis', sans-serif;
	font-size: 36px;
	margin-top: 0.03px;
}


nav {
	color: grey;
	font-size: 22px;
	float: right;
	margin-top: 0.03px;
}
nav li {
	display: inline-block;
	margin: 0 0.45em;
	list-style-type: none;
	text-decoration: none;
	color: darkgrey;
}


section.aboutme {
    margin-top: 15%;
	margin-right: 5%;
	margin-left: 50%;
	position: absolute;
    top: 8px;
    right: 16px;
	text-align: left;
	font-style: Arial;

}

section.project1 {
	padding-top: 30%;

}

.img-circle {
	border-radius: 50%;
	width: 20%;
	margin-left: 30px;
}

div.project1 {
	position: center;
}
