<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Travel Review</title>
</head>
<body>
	<h1>Countries as collection:</h1>
	<p th:text="${travelAsCollection}"/>
	<ul>
		<li th:each="t: ${travelAsCollection}" th:text="${t.id} + ',' + ${t.title} + ',' + ${t.imageURL} + ',' + ${t.content}" />
	</ul>
	
	
	<h1>Countries as map:</h1>
	<p th:text="${travelAsMap}" />
		<ul>
		<li th:each="travelEntry: ${travelAsMap}" th:text="'Entry is ' + ${travelEntry} + '/' + ${travelEntry.key} + ',' + ${travelEntry.value.title} + ',' + ${travelEntry.value.imageURL} + ',' + ${travelEntry.value.content}" />
	</ul>
	
		<h1>Iceland Review:</h1>
	<p th:text="${travelAsCollection}" />
	
	<div th:text="'title:' + ${iceland.title}"></div>
	<ul>
		<li th:each="t,status: ${travelAsCollection}">
			<p th:text="'Count: ' + ${status.count}" />
			<p th:text="'Even: ' + ${status.even}" />
			<p th:text="'First: ' + ${status.first}" />
			<p th:text="'Number of elements: ' + ${status.size}" />
			<p th:text="${t.id} + ',' + ${t.title} + ',' + ${t.imageURL} + ',' + ${t.content}" />
		</li>
	</ul>
</body>
</html>